@import url('https://fonts.googleapis.com/css2?family=Road+Rage&family=Roboto+Slab&display=swap');
$mainFont:'Roboto Slab', serif;
//tamaños de texto
$textSmall:0.5em;
$textMedium:0.8em;
$textBig:1em;